<div class="d-flex">
    <div>
      <img src=>
    </div>

    <div class="container border d-flex justify-content-around my-3">
      <h2><%= user.name %></h2>
      <p class="mt-3">Number of posts: x</p>
    </div>
  </div>
